/*********************FONT FACE DECLARATIONS*******************/
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: url('assets/fonts/roboto-lightitalic-webfont.woff2') format('woff2'),
       url('assets/fonts/roboto-lightitalic-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/roboto-regular-webfont.woff2') format('woff2'),
       url('assets/fonts/roboto-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/roboto-bold-webfont.woff2') format('woff2'),
       url('assets/fonts/roboto-bold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('assets/fonts/roboto-black-webfont.woff2') format('woff2'),
       url('assets/fonts/roboto-black-webfont.woff') format('woff');
}

/**************************************************************/

/*************************CSS RESET****************************/

/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
  /* outline: 2px solid red; */
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */
/* improves punctuation in supported browsers */
html {
  /* color-scheme: dark light; */
  hanging-punctuation: first last;
}

/* min body height */
body {
  min-height: 100svh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* Improved heading in supported browsers */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* improve readability with max-width on paragraphs and lists */
/* prevent orphans in supported browsers */
p,
li {
  max-width: var(--p-max-width, 65ch);
  text-wrap: pretty;
}

/**************************************************************/

body {
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(#0A6B99, #41C1FF);
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.header-title {
  padding: 2rem 0;
  text-align: center;
  border-bottom: 4px solid #000;
  border-radius: 20%;
  font-size: 3rem;
  font-weight: 900;
  text-shadow: 0px 0px 7px #41C1FF;
  flex: 0 1 1264px;
}

.main-container {
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: 2rem 0;
  gap: 1rem;
  max-width: 1264px;
  padding: 0 1rem;
}

.webpage-card {
  flex: 0 1 400px;
  border-radius: 12px;
  border: 1px solid #000;
  box-shadow: inset 0px 0px 15px 3px rgba(0, 0, 0, 0.5);
  padding: .750rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

img {
  border-bottom: 3px solid #000;
  border-radius: 12px;
}

.webpage-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  margin-top: .5rem;
}

.webpage-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
  text-align: center;
  text-shadow: 0px 0px 2px #fff;
}

.view-webpage-button {
  max-width: 100px;
  min-width: 50px;
  min-height: 32px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  flex: 1;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.25);
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.footer-text {
  padding: 2rem 0;
  flex: 0 1 1264px;
  text-align: center;
  border-top: 4px solid #000;
  border-radius: 20%;
  font-size: 1.25rem;
  font-weight: 700;
}


/* .webpage-card {
  flex: 1 1 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.webpage-card:hover {
  box-shadow: inset 0px 0px 15px 3px #CCAA0E;
}

.webpage-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
  width: 334px;
  text-align: center;
  padding: 0px 0px 12px 0px;
  border-bottom: 1px solid #000;
}

.view-webpage-button {
  cursor: pointer;
} */